.grid-container {
  position: relative;
  margin: 20px;
}

.col-hint-display {
    width: 16px;
    height: 74px;
    border: 1px solid grey;
    line-height: 15px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col-hint-input {
    width: 74px;
    height: 16px;
    border: 1px solid cyan;
    background-color: lightcyan;
    z-index: 100;
}

.row-hint-input {
  text-align: right;
  width: 80px;
  height: 22px;
}

.cell {
  width: 24px; /* Same width as col hint inputs */
  height: 24px;
  border: 1px solid grey;
  padding: 1px;
  text-align: center;
}
